% rebase('base.html', title='Home', uporabniskoIme=user)

  <h1>
    Olimpijske igre
  </h1>

  <p>
    Dobrodošli na spletni strani olimpijskih iger. Tu si lahko ogledaš rezultate zimskih olimpijskih iger od leta 1924
    do leta 2014. Kot uporabnik lahko dodaš tekmovalce in jih odstraniš.
    <li>Če želiš dobiti rezultate za posameznega tekmovalca, klikni link <a href="/athletes">tekmovalci</a>.</li>
    <li>Če želiš dobiti rezultate za posamezno poddisciplino in leto, klikni link <a href="/results">rezultati</a>.</li>
    <li>Če si iz protidopinškega komiteja, se z uporabniškim imenom in geslom <a href="/register">registriraj</a>.</li>
  </p>