% rebase('base.html', title='Results')

<div class="container">
  <div class="row">
    <div class="col text-center">

        <div class="form-group">
            <label for="leto" class="sr-only" style="font-size: large; font-weight: bold;">Leto olimpijskih iger</label>
            <select class="form-control" id="leto">
              <option selected> Izberi leto želenih olimpijskih iger </option>
              % for leto in leta:
              <option value="/{{leto}}"> {{leto}} </option>
              % end
            </select>
        </div>

        <div class="form-group">
            <label for="id_disciplina" class="sr-only" style="font-size: large; font-weight: bold;">Disciplina</label>
            <select class="form-control" id="id_disciplina">
              <option selected> Izberi disciplino </option>
              % for id_disciplina, disciplina in discipline:
              <option value="/{{id_disciplina}}"> {{disciplina}} </option>
              % end
            </select>
        </div>

        <div class="form-group">
            <label for="id_poddisciplina" class="sr-only" style="font-size: large; font-weight: bold;">Poddisciplina</label>
            <select class="form-control" id="id_poddisciplina">
            <option selected> Izberi poddisciplino </option>
            <script type="select/javascript">
                function getPoddiscipline() {
                    disciplina = document.getElementById('disciplina');
                    value_disciplina = disciplina.options[disciplina.selectedIndex].value;

                    for (id_poddisciplina, poddisciplina in model.Poddiscipline.pridobi_poddisciplino_id_disc(value_disciplina)) {
                    <option value="/{{id_poddisciplina}}"> {{poddisciplina}} </option>;
                    }
                }
            </script>
            </select>
        </div>

        <script>
            function getUrl() {
              leto = document.getElementById('leto');
              value_leto = leto.options[leto.selectedIndex].value;

              poddisciplina = document.getElementById('id_poddisciplina');
              value_poddisciplina = poddisciplina.options[poddisciplina.selectedIndex].value;

              return "results" + value_leto + value_poddisciplina;
            }
        </script>
        <a class="btn" style="background-color: deepskyblue; color: white; padding: 12px 28px;" id="results-button" href="javascript:document.location.href=getUrl();" role="button">Rezultati</a>

    </div>
  </div>
</div>

