# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\sashy\OneDrive\Desktop\sasa\prakticna-matematika\letnik3\PodatkovneBaze1\ZimskeOI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
